# general data
*.xlsx
*.json
*.txt
*.csv

# llm data
*.bin

# Unwanted R files
*.RData
.RDatatmp
.RDatatmp1
.RDatatmp2
.RDatatmp3
.RDataTmp4
*.DS_Store
.Rapp.history
.Rhistory

# big R folders
yelp_data_work/.Rproj.user/
.Rproj.user

# old files
yelp_data_work/old/
